.app-bg {
  background-color: #233a5e;
  color: #d2dff5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: auto;
  width: auto;
}
html {
  background-color: #233a5e;
  color: #d2dff5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: auto;
  width: auto;
}